<section>
   <div class="container">
        <div class="row text-white py-3 text-center gx-5 gy-3">
       
            <div class="col-lg-4 col-md-6 col-sm-12  my-sm-5 info">
                <h3 class="mb-md-4 mb-sm-3  mb-3 mt-sm-0 mt-5">LOCATION</h3>
                <p>2215 John Daniel DriveClark, MO 65243</p>
            </div>
       
            <div class="col-lg-4 col-md-6 col-sm-12 my-sm-5">
                <h3 class="mb-md-4 mb-sm-3  mb-3 mt-sm-0 mt-5">AROUND THE WEB</h3>
       
                <div class="">
                    <i class="fa-brands fa-facebook-f  mx-lg-2 ms-md-0 mx-sm-3  ms-0"></i>
                    <i class="fa-brands fa-twitter mx-lg-2 ms-md-1 mx-sm-3 ms-3"></i>
                    <i class="fa-brands fa-linkedin-in mx-lg-2 ms-md-1 mx-sm-3 ms-3"></i>
                    <i class="fa-brands fa-dribbble mx-lg-2 ms-md-1 me-md-0 mx-sm-3 ms-3"></i>
                </div>
            </div>
       
       
            <div class="col-lg-4 col-md-6 col-sm-12  my-sm-5 info m-auto">
                <h3 class="mb-md-4 mb-sm-3  mb-3 mt-sm-0 mt-5">ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
            </div>
        </div>
   </div>

    <div class="text-center copyright text-white">
        <p>Copyright © Your Website 2021</p>
    </div>
</section>