nav{
    background-color: #2c3e50;
    font-weight: bold;
}

nav .navbar-brand{
    font-size: 28px;
}

nav .nav-link{
    font-size: 16px;
    padding: 1rem;
    
}

.navbar-dark .navbar-nav .nav-link {
    border-radius: 10px;
    color: white;
    margin: 0px 10px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #1abc9c;
    
}

.navbar-dark .navbar-toggler {
    background-color: #1abc9c;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 15px;
    border-radius: 10px;
    
}

.navbar-toggler-icon {
    display: inline-block;
    width: auto;
    height: auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar-dark .navbar-toggler-icon {
    background-image: none
}


.active-link{
    background-color: #1abc9c;
    border-radius: 9px;
    
}